<!-- Loader -->
<div class="PreLoader align-items-center bg-primary-theme position-fixed top-0 start-0 end-0 bottom-0 row g-0"
style="z-index: 9999;">
<div class="row">
    <svg width="57" height="57" viewBox="0 0 57 57" xmlns="http://www.w3.org/2000/svg" stroke="#fff"
        class="text-danger">
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="2">
                <circle cx="5" cy="50" r="5">
                    <animate attributeName="cy" begin="0s" dur="2.2s" values="50;5;50;50" calcMode="linear"
                        repeatCount="indefinite"></animate>
                    <animate attributeName="cx" begin="0s" dur="2.2s" values="5;27;49;5" calcMode="linear"
                        repeatCount="indefinite"></animate>
                </circle>
                <circle cx="27" cy="5" r="5">
                    <animate attributeName="cy" begin="0s" dur="2.2s" from="5" to="5" values="5;50;50;5"
                        calcMode="linear" repeatCount="indefinite"></animate>
                    <animate attributeName="cx" begin="0s" dur="2.2s" from="27" to="27" values="27;49;5;27"
                        calcMode="linear" repeatCount="indefinite"></animate>
                </circle>
                <circle cx="49" cy="50" r="5">
                    <animate attributeName="cy" begin="0s" dur="2.2s" values="50;50;5;50" calcMode="linear"
                        repeatCount="indefinite"></animate>
                    <animate attributeName="cx" from="49" to="49" begin="0s" dur="2.2s" values="49;5;27;49"
                        calcMode="linear" repeatCount="indefinite"></animate>
                </circle>
            </g>
        </g>
    </svg>
</div>
</div>
<!-- Loader -->

<header class="header">
<div class="container">
    <div class="row gx-2 align-items-center">
        <div class="col-auto align-self-center mobOnly-rxt-nav-trigger-wrap">
            <a href="#rxtNavWrap" class="rxt-nav-trigger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="col col-lg-3">
            <a href="index.html" class="logo">
                <img class="img-fluid" src="../../../assets/images/logo.svg" alt="PTETutorials.online">
            </a>
            <div class="d-inline-block product-of-aussizz-wrap text-center text-lg-start text-white w-100">
                Product of <b>Aussizz Group</b></div>
        </div>
        <div class="col- col d-lg-block d-none">
            <div class="row gx-2 justify-content-end">
                <div class="col- col align-self-center text-center">
                    <div class="rxt-travel" data-rxt-travel-max="991" data-rxt-travel-appendTo="#rxtNavTravel">
                        <div id="rxtNavWrap" class="rxt-navigation-wrap">
                            <div class="container">
                                <a class="mobOnly-menu-close-link" href="#">
                                    <i class="mobOnly-menu-close fa fa-times" aria-hidden="true"></i>
                                </a>
                                <ul class="rxt-navigation">
                                    <li class="has-sub active">
                                        <a href="#">Join Live Class</a>
                                        <ul>
                                            <li>
                                                <a href="#">Join Live Class 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Join Live Class 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Join Live Class 3</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="has-sub">
                                        <a href="#">Study Materials</a>
                                        <ul>
                                            <li>
                                                <a href="#">Sample Questions</a>

                                            </li>
                                            <li>
                                                <a href="#">Exam Memories</a>

                                            </li>
                                            <li>
                                                <a href="#">Paid Practice eBook</a>

                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Check My Score</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#">PTE Exam</a>
                                        <ul>
                                            <li>
                                                <a href="#">PTE Exam</a>
                                            </li>
                                            <li>
                                                <a href="#">PTE Exam</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#">More</a>
                                        <ul>
                                            <li class="has-sub">
                                                <a href="#">More 1</a>
                                                <ul>
                                                    <li> <a href="#">More Sub</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">More 2</a>
                                            </li>
                                            <li>
                                                <a href="#">More 3</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><i
                                                class="lab la-opencart me-1 fs-4 align-middle"></i>Cart<sup
                                                class="ms-1 badge bg-secondary-theme">9</sup></a>
                                    </li>
                                    <li class="social-wrap-menu has-sub">
                                        <a href="javascript:void(0);"><i
                                                class="las la-share-alt fs-4 align-middle"></i> <span
                                                class="ps-1 align-middle d-lg-none">Add This</span></a>
                                        <ul>
                                            <li> <a target="_blank"
                                                    href="https://www.facebook.com/ptetutorials"><i
                                                        class="lab pe-3 la-facebook-f"></i>Facebook</a>
                                            </li>
                                            <li> <a target="_blank"
                                                    href="http://www.youtube.com/c/PTETUTORIALS"><i
                                                        class="lab pe-3 la-youtube"></i>YouTube</a></li>
                                            <li> <a target="_blank"
                                                    href="https://www.instagram.com/pte.tutorials"><i
                                                        class="lab pe-3 la-instagram"></i>Instagram</a>
                                            </li>
                                            <li> <a target="_blank"
                                                    href="https://www.linkedin.com/company/pte-tutorials"><i
                                                        class="lab pe-3 la-linkedin-in"></i>Linkedin</a>
                                            </li>
                                            <li> <a target="_blank" href="https://twitter.com/ptetutorials"><i
                                                        class="lab pe-3 la-twitter"></i>Twitter</a></li>
                                            <li> <a target="_blank" href="https://t.me/ptetutorials"><i
                                                        class="lab pe-3 la-telegram-plane"></i>Telegram</a></li>
                                            <li> <a target="_blank"
                                                    href="https://api.whatsapp.com/send?phone=919558459119"><i
                                                        class="lab pe-3 la-whatsapp"></i> Whatsapp</a></li>
                                            <li> <a target="_blank" href="mailto:support@ptetutorials.com"><i
                                                        class="lar pe-3 la-envelope-open"></i>E-Mail</a>
                                            </li>
                                        </ul>

                                    </li>
                                    <li class="signup-login-wrap">
                                        <div class="rxt-travel signup-login-main" data-rxt-travel-max="991"
                                            data-rxt-travel-appendTo="#rxtSignupLoginTravel">
                                            <!-- user not login -->
                                            <div class="btn btn-sm bg-white">
                                                <a href="#" class="fw-500">Signup /</a>
                                                <a href="#" class="fw-500">Login</a>
                                            </div>
                                            <!-- user not login -->

                                            <!-- user login -->
                                            <!-- <div class="dropdown">
                                                <a class="btn bg-white btn-sm dropdown-toggle" href="#"
                                                    role="button" id="dropdownsignuplogin"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <img src="../images/no-user-image.png"
                                                        class="img-fluid rounded-pill" alt="user"
                                                        style=" width: 30px; height: 30px;">
                                                    <span class="d-md-inline-block d-none ms-1 fw-500">Rajesh
                                                        Kumar
                                                        Rajpoot</span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownsignuplogin">
                                                    <li> <a href="#" class="dropdown-item"><i
                                                                class="las pe-3 align-middle fs-4 la-tachometer-alt"></i>Go
                                                            To
                                                            Dashbord</a>
                                                    </li>
                                                    <li> <a href="#" class="dropdown-item"><i
                                                                class="las pe-3 align-middle fs-4 la-user-circle"></i>Profile</a>
                                                    </li>
                                                    <li> <a href="#" class="dropdown-item"><i
                                                                class="las pe-3 align-middle fs-4 la-sign-out-alt"></i>Logout</a>
                                                    </li>
                                                </ul>
                                            </div> -->
                                            <!-- user login -->
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <a href="#" class="rxt-nav-overlay"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto d-lg-none">
            <div id="rxtSignupLoginTravel"> </div>
        </div>
    </div>
</div>
</header>
<div id="rxtNavTravel" class="headerOnTravel"> </div>

