 <!-- footer -->
 <footer>
    <!-- Bottom -->
    <div class="gradient-9 py-3 py-md-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-auto col-xl mb-3 mb-md-0 text-center text-md-start">
                    <div class="h2 text-white text-uppercase text-uppercase mb-1 mb-md-2">Customer Support</div>
                    <p class="text-white m-0">Get expert advice anytime for anything you need </p>
                </div>
                <div class="col-12 col-lg-auto col-xl-auto">
                    <div class="row justify-content-center">
                        <div class="col-8 col-md col-sm-auto">
                            <div class="gx-2 gx-xl-5 justify-content-between row">
                                <div class="col-12 col-sm-auto col-lg-auto">
                                    <div class="d-flex my-2">
                                        <div class="me-4 me-md-3 wow rollIn">
                                            <i
                                                class="las la-phone-volume la-3x gradient-3 p-2 text-primary-theme fs-1 rounded-circle hover-gradient-3"></i>
                                        </div>
                                        <div>
                                            <div class="h5 mb-1 text-white">Phone</div>
                                            <p class="text-white m-0">
                                                <a class="text-white" href="tel:+919558459119">+91 95 5845
                                                    9119</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-auto col-lg-auto">
                                    <div class="d-flex my-2">
                                        <div class="me-4 me-md-3 wow rollIn">
                                            <i
                                                class="la la-telegram la-3x gradient-1 text-primary-theme fs-1 p-2 rounded-circle hover-gradient-1"></i>
                                        </div>
                                        <div>
                                            <div class="h5 mb-1 text-white">Chat</div>
                                            <p class="text-white m-0">Live with us</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-auto col-lg-auto">
                                    <div class="d-flex my-2">
                                        <div class="me-4 me-md-3 wow rollIn">
                                            <i
                                                class="la-3x la-envelope-open las gradient-2 text-primary-theme fs-1 p-2 rounded-circle hover-gradient-2"></i>
                                        </div>
                                        <div>
                                            <div class="h5 mb-1 text-white">Email</div>
                                            <p class="text-white m-0">
                                                <a class="text-white"
                                                    href="mailto:info@ptetutorials.com">info@ptetutorials.com</a>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom -->
    <!-- Social -->
    <div class="gradient-10 py-3 py-md-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg col-sm-auto mb-3 mb-md-0 mb-sm-0">
                    <ul
                        class="justify-content-center justify-content-evenly justify-content-md-start list-group list-group-horizontal list-unstyled">
                        <li class="mx-1 mx-md-2">
                            <a target="_blank" href="https://www.facebook.com/ptetutorials"><i
                                    class="la la-facebook bg-white fs-4 p-1 rounded-circle text-primary-theme hover-img-grayscale1"></i></a>
                        </li>
                        <li class="mx-1 mx-md-2">
                            <a target="_blank" href="http://www.youtube.com/c/PTETUTORIALS"><i
                                    class="la la-youtube bg-white fs-4 p-1 rounded-circle text-primary-theme hover-img-grayscale1"></i></a>
                        </li>
                        <li class="mx-1 mx-md-2">
                            <a target="_blank" href="https://www.instagram.com/pte.tutorials"><i
                                    class="la la-instagram bg-white fs-4 p-1 rounded-circle text-primary-theme hover-img-grayscale1"></i></a>
                        </li>
                        <li class="mx-1 mx-md-2">
                            <a target="_blank" href="https://www.linkedin.com/company/pte-tutorials"><i
                                    class="la la-linkedin bg-white fs-4 p-1 rounded-circle text-primary-theme hover-img-grayscale1"></i></a>
                        </li>
                        <li class="mx-1 mx-md-2">
                            <a target="_blank" href="https://twitter.com/ptetutorials"><i
                                    class="la la-twitter bg-white fs-4 p-1 rounded-circle text-primary-theme hover-img-grayscale1"></i></a>
                        </li>
                        <li class="mx-1 mx-md-2">
                            <a target="_blank" href="https://t.me/ptetutorials"><i
                                    class="la la-telegram bg-white fs-4 p-1 rounded-circle text-primary-theme hover-img-grayscale1"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-sm px-2 px-md-3">
                    <div class="align-items-center g-0 g-md-2 justify-content-center justify-content-lg-start row">
                        <div class="col col-sm-auto col-lg col-sm-auto text-md-end">
                            <p class="fw-500 mb-0 me-md-3 text-center text-md-end text-white pe-sm-1">Download the
                                APP
                            </p>
                        </div>
                        <div class="col-auto">
                            <a href="https://rwwp2.app.goo.gl/ZJCz" target="_blank"
                                title="Android App on Google Play">
                                <img style="min-width:85px;"
                                    class="img-fluid ms-sm-3 me-2 me-md-0 ms-1 ms-md-0 hover-img-grayscale1"
                                    src="../../../assets/images/android-app-icon.svg" alt="Android App on Google Play" />
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="https://pte.app.link/mSFShfzjtN" target="_blank"
                                title="Download on the App Store">
                                <img style="min-width:85px;" class="img-fluid hover-img-grayscale1"
                                    src="../../../assets/images/iphone-app-icon.svg" alt="Download on the App Store" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bottom border-secondary border-top mt-3 mt-md-4 py-3 py-md-4">
                <div class="row">
                    <div class="col-12">
                        <p class="text-white fw-500">
                            Quick Links
                        </p>
                    </div>
                    <div class="col-md col-6">
                        <ul class="list-group list-group-vertical list-unstyled">
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Test
                                    Format</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Exam
                                    Corner</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">F.A.Q
                                    Blog</a>
                            </li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Recent
                                    Questions</a></li>
                        </ul>
                    </div>
                    <div class="col-md col-6">
                        <ul class="list-group list-group-vertical list-unstyled g-1">
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Practice
                                    Materials</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Login</a>
                            </li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Free
                                    Signup</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Check
                                    Scrore
                                    Card</a></li>
                        </ul>
                    </div>
                    <div class="col-md col-6">
                        <ul class="list-group list-group-vertical list-unstyled">
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">PTE-A
                                    Score
                                    Card</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Refer a
                                    friend</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Become a
                                    Partner</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover"
                                    href="#">Features</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md col-6">
                        <ul class="list-group list-group-vertical list-unstyled">
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Videos</a>
                            </li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">System
                                    req</a>
                            </li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Who
                                    accepts
                                    PTE</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Privacy
                                    Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md col-6">
                        <ul class="list-group list-group-vertical list-unstyled">
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Terms</a>
                            </li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Free
                                    Signup</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Check
                                    Score
                                    Card</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">F.A.Q
                                    Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md col-6">
                        <ul class="list-group list-group-vertical list-unstyled">
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Test
                                    Format</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Exam
                                    Corner</a></li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">F.A.Q
                                    Blog</a>
                            </li>
                            <li class="mb-md-1"><a class="text-primary-theme-4 text-white-hover" href="#">Recent
                                    Questions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="g-3 justify-content-center m-0 row">
                <div class="col-md-10">
                    <p class="text-primary-theme-4 text-center text-white-hover mb-0">LET'S UPSKILL PTY LTD - ABN -
                        72 604 908 974 &nbsp;|&nbsp; Copyright &copy; 2021 All Right Reserved. &nbsp;|&nbsp;
                        Developed by <a class="text-primary-theme-4 text-white-hover" target="_blank"
                            href="https://www.webzebsolutions.com/">WebZeb Solutions</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Social -->
</footer>
<!-- footer -->

<!-- back to top -->
<div class="position-fixed bottom-0 end-0 d-none d-md-block" style=" z-index: 999;">
    <a href="#"
        class="backtop backtopActive d-inline-block gradient-4 mb-3 px-3 py-2 rounded-start shadow small text-primary-theme text-uppercase">
        <i class="fs-5 la-arrow-up las"></i>
    </a>
</div>
<div class="position-fixed bottom-0 end-0 w-100 d-block d-md-none" style="z-index: 999;">
    <a href="https://app.ptetutorials.com">
        <div class="gradient-7 p-2 text-danger stripeSticker">
            <div class="row align-items-center">
                <div class="col">
                    <div class="h6 text-primary-theme mt-0 mb-0">
                        Unlimited PTE Preparation
                    </div>
                    <div class="small">Download Mobile APP</div>
                </div>
                <div class="col-auto">
                    <span class="btn btn-sm btn-primary-theme small hover-btn-arrow">
                        <span class="hover-btn-text">
                            Download
                        </span>
                        <span
                            class="hover-btn-icon position-absolute w-100 start-0 top-0 d-flex justify-content-center align-items-center h-100"><i
                                class="las la-download h3 my-0"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </a>
</div>    
<!-- back to top -->


